/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Clientes  -----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.paneBotoes-cliente {
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box, #000000, 1, 0.3, 0, 0);
}

.titBackound-cliente {
    -fx-background-color: linear-gradient(to right top, #0277BD , #1A237E);
    -fx-background-image: url("../imagens/white/cadastros/icoCliente_400.png"); /* Imagem já otimizada. */
    -fx-background-position: left -60;

    -fx-background-size: 300 300;
    -fx-background-repeat: no-repeat;
}

.textArea-cliente {
    -fx-background-color: #005a9e;
}

.textArea-cliente .scroll-pane {
    -fx-background-color: #eaeaea;
}

.btnContatos-cliente {
    -fx-background-color:  #005a9e;
    -fx-text-fill: white;
}

.btnEndereco-cliente {
    -fx-background-color:  #005a9e;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Empresas ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image empresa ----------*/
.titBackound-empresa {
    -fx-background-color: linear-gradient(to right top, #d32f2f , #b71c1c);

    -fx-background-image: url("../imagens/white/cadastros/icoEmpresa_400.png"); /* Já otimizada a imagem.*/
    -fx-background-position: left 0;

    -fx-background-size: 468 200;
    -fx-background-repeat: no-repeat;
}

.paneBotoes-empresa {
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box, #000000, 1, 0.3, 0, 0);
}

.btnContatos-empresa {
    -fx-background-color:  #d32f2f;
    -fx-text-fill: white;
}

.btnEndereco-empresa {
    -fx-background-color:  #d32f2f;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Usuarios ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image usuario ----------*/
.tituloBackground-usuario{
    -fx-background-color:  #7cb342;
    -fx-background-image: url("../imagens/white/cadastros/icoUsuario_270.png"); /* Imagem já otimizada para o tamanho correto. */
    -fx-background-position: left -60;

    -fx-background-size: 270 297;
    -fx-background-repeat: no-repeat;
    -fx-background-color: linear-gradient(to right top, #689F38 , #1B5E20);
}

.paneBotoes-usuario {
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box, #000000, 1, 0.3, 0, 0);
}

.textArea-usuario {
    -fx-background-color: #7cb342;
}

.textArea-usuario .scroll-pane {
    -fx-background-color: #eaeaea;
}

.btnExcluir-usuario{
    -fx-background-color:  #ef6950;
    -fx-text-fill: white;
}

.btnProcurar-usuario{
    -fx-background-color:  #71afe5;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Produtos ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image usuario ----------*/
.tituloBackground-produto {
    -fx-background-color: linear-gradient(to right top, #F57C00 , #BF360C);
    -fx-background-image: url("../imagens/white/cadastros/icoProduto_400.png");
    -fx-background-position: left -50;

    -fx-background-size: 406 230;
    -fx-background-repeat: no-repeat;
}


.paneBotoes-produto {
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box, #000000, 1, 0.3, 0, 0);
}

.textArea-produto {
    -fx-background-color: #F57C00;
}

.textArea-produto .scroll-pane {
    -fx-background-color: #eaeaea;
}

.btnExcluir-produto {
    -fx-background-color:  #ef6950;
    -fx-text-fill: white;
}

.btnProcurar-produto {
    -fx-background-color:  #71afe5;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Geral ---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image usuario ----------*/
.tituloBackground-cadastroGeral{
    -fx-background-color: linear-gradient(to right top, #9E9E9E , #212121);
}
.imgBackground-cadastroGeral{
    -fx-background-image: url("../imagens/white/cadastros/icoGeral.png");
    -fx-background-position: bottom center;

    -fx-background-size: auto 165;
    -fx-background-repeat: no-repeat;
}
.botoesBackground-cadastroGeral{
    -fx-border-color:  black;
    -fx-border-width:  1 1 1 0;
    -fx-background-color:  #757575;
}
.textArea-cadastroGeral {
    -fx-background-color: #757575;
}

.textArea-cadastroGeral .scroll-pane {
    -fx-background-color: #eaeaea;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Cadastro de endereço -----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------  Image endereço ----------*/
.tituloBackground-CadastroEndereco {
    -fx-background-color: linear-gradient(to right top, #9C27B0 , #4A148C);
    -fx-background-image: url("../imagens/white/cadastros/icoEndereco_400.png");
    -fx-background-position: left+20 top;

    -fx-background-size: 300 289;
    -fx-background-repeat: no-repeat;
}

/*----------  Botoes ----------*/
.btnCadastraEndereco {
    -fx-background-color:  #7cb342;
}

.btnRemoveEndereco {
    -fx-background-color:  #e53935;
}


/*----------  Cadastro endereço ----------*/
.textArea-endereco {
    -fx-background-color: #4A148C;
}

.textArea-endereco .scroll-pane {
    -fx-background-color: #eaeaea;
}

.backoground-CadastrosEndereco {
    -fx-background-color:  #ffffff;
}

/*----------  Cadastro endereço ----------*/
.textArea-contato {
    -fx-background-color: #00277B;
}

.textArea-contato .scroll-pane {
    -fx-background-color: #eaeaea;
}

.backoground-CadastrosContato {
    -fx-background-color:  #ffffff;
}


/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Cadastro de contatos -----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------  Image contatos ----------*/
.tituloBackground-CadastroContatos {
    -fx-background-color: linear-gradient(to right top, #0277BD , #00277B);
    -fx-background-image: url("../imagens/white/cadastros/icoContato_500.png");
    -fx-background-position: left+10 top;

    -fx-background-size: 400 250;
    -fx-background-repeat: no-repeat;
}

/*----------  Botoes ----------*/
.btnCadastraContatos {
    -fx-background-color:  #7cb342;
}

.btnRemoveContatos {
    -fx-background-color:  #e53935;
}


/*----------  Cadastro endereço ----------*/
.textArea-endereco {
    -fx-background-color: #4A148C;
}

.textArea-endereco .scroll-pane {
    -fx-background-color: #eaeaea;
}

.backoground-CadastrosEndereco {
    -fx-background-color:  #ffffff;
}