/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Login ----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Estilos dos botoes ----------*/
#btnLogin {
    -fx-background-color: #ffffff;
    -fx-text-fill:  #43A047;
    -fx-border-color :#43A047;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

#btnLogin:hover {
    -fx-background-color: #43A047;
    -fx-text-fill:  #ffffff;
}

#btnLogin:focused {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#btnSair {
    -fx-background-color: #ffffff;
    -fx-text-fill:  #a4262c;
    -fx-border-color :#a4262c;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

#btnSair:hover {
    -fx-background-color: #a4262c;
    -fx-text-fill:  #ffffff;
}

#btnSair:focused {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}




#paneLogin{
    -fx-background-color: linear-gradient(to bottom right, #f2f2f2 0%, #ffffff 50%, #d9d9d9 100%);
    -fx-background-radius: 5px;
}


#paneLogo{
    -fx-background-color: linear-gradient(to bottom right, #000000 0%, #212121 50%, #333333 100%);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.25) , 0, 0.2 , 5, 5);
}

.logoTexto{
    -fx-text-fill: white;
}

.loginSombra {
    -fx-effect: dropshadow( one-pass-box , #333333, 0, 0.0 , 3, 3);
}


/*--------  Botao de exit ----------*/
#btnExit{
    -fx-background-color: transparent;
    -fx-background-image: url("resources/images/login/btnExit_48.png");
    -fx-background-position: 0 0;
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
}

#btnExit:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 0;
    -fx-border-color: #0084ff;
}

#btnExit:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 0;
    -fx-border-color: #0084ff;
}

/*--------  Background do login ----------*/
.LayoutLogin{
    -fx-background-color:  transparent;
}


/*--------  Campos de texto ----------*/
.text-field {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;

}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: blue;
}

.text-field:hover{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
}

.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;
}

.choice-box:focused {
    -fx-background-color: transparent ;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: blue;
}

