/*---------- Estilos de background ----------*/

.background-Black1 {
     -fx-background-color:  #000000;
 }

.background-Black2 {
    -fx-background-color:  #212121;
}

.background-Black3 {
    -fx-background-color:  #333333;
}

.background-Black4 {
    -fx-background-color:  #3c3c3c;
}

.background-Black5 {
    -fx-background-color:  #666666;
}

.background-Blue1 {
    -fx-background-color:  #004578;
}

.background-Blue2 {
    -fx-background-color:  #005a9e;
}

.background-Blue3 {
    -fx-background-color:  #106ebe;
}

.background-Blue4 {
    -fx-background-color:  #0078d4;
}

.background-Blue5 {
    -fx-background-color:  #71afe5;
}

.background-White1 {
    -fx-background-color:  #ffffff;
}

.background-White2 {
    -fx-background-color:  #eaeaea;
}

.background-White3 {
    -fx-background-color:  #dadada;
}

.background-White4 {
    -fx-background-color:  #d0d0d0;
}

.background-Red1 {
    -fx-background-color:  #a4262c;
}

.background-Red2 {
    -fx-background-color:  #f44336;
}

.background-Red3 {
    -fx-background-color:  #ef6950;
}

.background-Green1 {
        -fx-background-color:  #407855;
}

.background-Green2 {
    -fx-background-color:  #7cb342;
}

.background-Purple1 {
    -fx-background-color:  #854085;
}

.background-Purple2 {
    -fx-background-color:  #8764b8;
}

.background-Purple3 {
    -fx-background-color:  #b4a0ff;
}


.background-Orange1 {
    -fx-background-color:  #ca5010;
}

.background-Indigo1 {
    -fx-background-color:  #4052ab;
}


.background-Yellow1 {
    -fx-background-color:  #ffc83d;
}