/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos do Dashboard ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Estilos de fonte ----------*/
.texto-titulo{
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.texto-stilo-1{
    -fx-text-fill: white;
}
.texto-stilo-2 {
    -fx-background-color:  #ffffff;
}

/*---------- Estilos do menu ----------*/
.menu-bar {
    -fx-background-color: #212121;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: #005a9e;
}
.menu-item:hover {
    -fx-background-color: #005a9e;
}
.context-menu {
    -fx-fill: white;
    -fx-background-color: linear-gradient(#212121 0%, #212121  100%);
    -fx-effect: dropshadow( one-pass-box , rgba(75,75,75,0.8) , 0, 0.0 , 2, 2);
}

/* Cor da letra de atalho do teclado */
.context-menu .accelerator-text {
    -fx-text-fill: #42A5F5;
}

.mnemonic-underline {
    -fx-stroke: #ffffff;
}

/*----------  Panels de rolagens ----------*/
.split-pane:horizontal > .split-pane-divider {
	-fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
	-fx-background-color: transparent;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
}

.splitbox {
    -fx-box-border: #000000;
    -fx-padding: 1;
}

/*----------  Tab panels ----------*/

/* Remove a borda de selecao da tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-header-area .tab-header-background {
    -fx-background-color: #0078d4;
}

.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
    -fx-tab-min-width: 4em;
    -fx-padding: 0 0 0 0;
}

.tab-pane:top *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab{
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0 0.5 0.0 0.5;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
}

.tab:selected
{
    -fx-background-color: #F2FEFA;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #000000;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

/*---------- Estilos do scroll ----------*/
.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/* Barra */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #757575;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #666666;

    -fx-background-insets: 3.0;
    -fx-effect: dropshadow( one-pass-box , #1e90ff, 4, 4, 0, 0);
}

/* Quina */
.scroll-pane > .corner {
    -fx-background-color: black;
}

/*---------- Estilos do rodape ----------*/
.lblRodape {
    -fx-text-fill: #eee;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de menu -----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Estilos de fonte ----------*/
.background-menuSplit{
    -fx-background-color:  #333333;
}
