/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Botoes ---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/* Estilos de botoes */
#btnConfirmar {
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%, #212121 5%, #212121 35%,#58E82D 35%, #58E82D 100%);
    -fx-text-fill: #000000;

    -fx-background-image: url("../white/images/btn/btnConfirma_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnConfirmar:hover {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #58E82D 5%, #58E82D 35%,#212121 35%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnConfirmar:focused{
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%,#212121 5%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnConfirmar:pressed {
    -fx-padding: 0 11 0 0;
    -fx-background-insets: 0.5,0,0,0;
    -fx-background-position: 12 0;
    -fx-text-fill: #b3ffb3;
}

/*------------------*/
#btnCancelar {
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%, #212121 5%, #212121 35%,#ff1a1a 35%, #ff1a1a 100%);
    -fx-text-fill: #000000;

    -fx-background-image: url("../white/images/btn/btnCancelar_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnCancelar:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #ff1a1a 5%, #ff1a1a 35%,#212121 35%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnCancelar:focused{
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%,#212121 5%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnCancelar:pressed {
    -fx-padding: 0 11 0 0;
    -fx-background-insets: 0.5,0,0,0;
    -fx-background-position: 12 0;
    -fx-text-fill: #ff9999;
}

/*------------------*/
#btnExcluir {
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%, #212121 5%, #212121 35%,#FAB002 35%, #FAB002 100%);
    -fx-text-fill: #000000;

    -fx-background-image: url("../white/images/btn/btnExcluir_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnExcluir:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #FAB002 5%, #FAB002 35%,#212121 35%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnExcluir:focused{
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%,#212121 5%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnExcluir:pressed {
    -fx-padding: 0 11 0 0;
    -fx-background-insets: 0.5,0,0,0;
    -fx-background-position: 12 0;
    -fx-text-fill: #ffe066;
}

/*------------------*/
#btnVoltar {
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%, #212121 5%, #212121 35%,#57585C 35%, #57585C 100%);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../white/images/btn/btnVoltar_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnVoltar:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #57585C 5%, #57585C 35%,#212121 35%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnVoltar:focused{
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%,#212121 5%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnVoltar:pressed {
    -fx-padding: 0 11 0 0;
    -fx-background-insets: 0.5,0,0,0;
    -fx-background-position: 12 0;
    -fx-text-fill: #ffffff;
}


/*------------------*/
#btnNovo{
    -fx-background-color: linear-gradient(to top right, #558B2F 0%, #1B5E20 75%, #004D40 100%);
    -fx-background-radius : 20;
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../white/images/btn/bntNovo_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnNovo:hover{
    -fx-background-color: linear-gradient(to bottom right, #558B2F 0%, #1B5E20 50%, #004D40 100%);
}

#btnNovo:pressed {
    -fx-padding: 0 11 0 0;
    -fx-background-insets: 0.5,0,0,0;
    -fx-background-position: 12 0;
}

/*------------------*/
#btnEditar{
    -fx-background-color: linear-gradient(to top right, #3F51B5 0%, #283593 75%, #311B92 100%);
    -fx-background-radius : 20;
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../white/images/btn/bntNovo_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnEditar:hover{
    -fx-background-color: linear-gradient(to bottom right, #3F51B5 0%, #283593 50%, #311B92 100%);
}

#btnEditar:pressed {
    -fx-padding: 0 11 0 0;
    -fx-background-insets: 0.5,0,0,0;
    -fx-background-position: 12 0;
}

/*------------------*/
#btnSair{
    -fx-background-color: linear-gradient(to top right, #546E7A 0%, #37474F 75%, #212121 100%);
    -fx-background-radius : 20;
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../white/images/btn/bntNovo_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnSair:hover{
    -fx-background-color: linear-gradient(to bottom right, #546E7A 0%, #37474F 50%, #212121 100%);
}

#btnSair:pressed {
    -fx-padding: 0 11 0 0;
    -fx-background-insets: 0.5,0,0,0;
    -fx-background-position: 12 0;
}


/* Estilos de botoes */
#btnFecharMesa {
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%, #212121 5%, #212121 31%,#58E82D 31%, #58E82D 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 1, 1);
    -fx-text-fill: #000000;

    -fx-background-image: url("../white/images/btn/bntVenda_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnFecharMesa:hover {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #58E82D 5%, #58E82D 31%,#212121 31%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnFecharMesa:focused{
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%,#212121 5%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnFecharMesa:pressed {
    -fx-padding: 15 13 14 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #b3ffb3;
}

/*------------------*/
#btnRemItem {
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%, #212121 5%, #212121 31%,#ff1a1a 31%, #ff1a1a 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../white/images/btn/bntRemovDes_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnRemItem:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #ff1a1a 5%, #ff1a1a 31%,#212121 31%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnRemItem:focused{
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%,#212121 5%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnRemItem:pressed {
    -fx-padding: 15 13 14 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ff9999;
}

/*------------------*/
#btnImpItem {
    -fx-background-color: linear-gradient(to right, #0066ff 0%, #0066ff 5%, #212121 5%, #212121 31%,#0066ff 31%, #0066ff 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../white/images/btn/btnImprimir_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnImpItem:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #0066ff 5%, #0066ff 31%,#212121 31%, #212121 95%, #0066ff 95%, #0066ff 100%);
    -fx-text-fill: #ccf2ff;
}

#btnImpItem:focused{
    -fx-background-color: linear-gradient(to right, #0066ff 0%, #0066ff 5%,#212121 5%, #212121 95%, #0066ff 95%, #0066ff 100%);
    -fx-text-fill: #ccf2ff;
}

#btnImpItem:pressed {
    -fx-padding: 15 13 14 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ccf2ff;
}

/*------------------*/
#btnJuntarMesa {
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%, #212121 5%, #212121 31%,#FAB002 31%, #FAB002 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../white/images/btn/btnClientesMesa_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnJuntarMesa:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #FAB002 5%, #FAB002 31%,#212121 31%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnJuntarMesa:focused{
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%,#212121 5%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnJuntarMesa:pressed {
    -fx-padding: 15 13 14 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ffe066;
}

/*------------------*/
#btnAddItem {
    -fx-background-color: linear-gradient(to right, #742FE3 0%, #742FE3 5%, #212121 5%, #212121 31%,#742FE3 31%, #742FE3 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../white/images/btn/bntInserirDes_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnAddItem:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #742FE3 5%, #742FE3 31%,#212121 31%, #212121 95%, #742FE3 95%, #742FE3 100%);
    -fx-text-fill: #e6b3ff;
}

#btnAddItem:focused{
    -fx-background-color: linear-gradient(to right, #742FE3 0%, #742FE3 5%,#212121 5%, #212121 95%, #742FE3 95%, #742FE3 100%);
    -fx-text-fill: #e6b3ff;
}

#btnAddItem:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #e6b3ff;
}

/*------------------*/
#btnVtrItem {
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%, #212121 5%, #212121 31%,#57585C 31%, #57585C 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../white/images/btn/btnVoltar_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnVtrItem:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #57585C 5%, #57585C 31%,#212121 31%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnVtrItem:focused{
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%,#212121 5%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnVtrItem:pressed {
    -fx-padding: 15 13 14 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ffffff;
}

/*------------------*/
#btnAjuda {
    -fx-background-color: #212121;
    -fx-background-image: url("../white/images/btn/btnAjuda_48.png");
    -fx-background-position: 1 0;
    -fx-background-size: 29 29;
    -fx-background-repeat: no-repeat;
}

#btnAjuda:hover{
    /*-fx-background-image: url("../white/images/btn/btnAjudaSelect_48.png");*/
}

#btnAjuda:focused{

}
