/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastros  ----------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Estilos do scroll ----------*/
.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/* Barra */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #757575;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #666666;

    -fx-background-insets: 3.0;
    -fx-effect: dropshadow( one-pass-box , #1e90ff, 4, 4, 0, 0);
}

/* Quina */
.scroll-pane > .corner {
    -fx-background-color: black;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Clientes  -----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image clientes ----------*/
.tituloBackground-cliente{
    -fx-background-color: linear-gradient(to right top, #0277BD , #1A237E);
}
.imgBackground-cliente{
    -fx-background-image: url("../white/images/cad/icoCliente.png");
    -fx-background-position: center;
    -fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
}
.botoesBackground-cliente{
    -fx-border-color:  black;
    -fx-border-width:  0 1 1 1;
    -fx-background-color:  #005a9e;
}
.textArea-cliente {
    -fx-background-color: #005a9e;
}

.textArea-cliente .scroll-pane {
    -fx-background-color: #eaeaea;
}

.btnEndereco-cliente {
    -fx-background-color:  #71afe5;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Empresas ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image empresa ----------*/
.tituloBackground-empresa{
    -fx-background-color: linear-gradient(to right top, #d32f2f , #b71c1c);
}
.imgBackground-empresa{
    -fx-background-image: url("../white/images/cad/icoEmpresa.png");
    -fx-background-position: center 10;

    -fx-background-size: 300 130;
    -fx-background-repeat: no-repeat;
}

.botoesBackground-empresa{
    -fx-border-color:  black;
    -fx-border-width:  0 1 1 1;
    -fx-background-color:  #a4262c;
}

.btnContatos-empresa {
    -fx-background-color:  #ef6950;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Usuarios ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image usuario ----------*/
.tituloBackground-usuario{
    -fx-background-color: linear-gradient(to right top, #689F38 , #1B5E20);
}
.imgBackground-usuario{
    -fx-background-image: url("../white/images/cad/icoUsuario.png");
    -fx-background-position: bottom center;

    -fx-background-size: 180 165;
    -fx-background-repeat: no-repeat;
}
.botoesBackground-usuario{
    -fx-border-color:  black;
    -fx-border-width:  0 1 1 1;
    -fx-background-color:  #7cb342;
}
.textArea-usuario {
    -fx-background-color: #7cb342;
}

.textArea-usuario .scroll-pane {
    -fx-background-color: #eaeaea;
}

.btnExcluir-usuario{
    -fx-background-color:  #ef6950;
    -fx-text-fill: white;
}

.btnProcurar-usuario{
    -fx-background-color:  #71afe5;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Produtos ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image usuario ----------*/
.tituloBackground-produto{
    -fx-background-color: linear-gradient(to right top, #FF8A65 , #BF360C);
}
.imgBackground-produto{
    -fx-background-image: url("../white/images/cad/icoProduto.png");
    -fx-background-position: bottom center;

    -fx-background-size: auto 165;
    -fx-background-repeat: no-repeat;
}
.botoesBackground-produto{
    -fx-border-color:  black;
    -fx-border-width:  1 1 1 0;
    -fx-background-color:  #F57C00;
}
.textArea-produto{
    -fx-background-color: #F57C00;
}

.textArea-produto .scroll-pane{
    -fx-background-color: #eaeaea;
}

.btnExcluir-produto{
    -fx-background-color:  #ef6950;
    -fx-text-fill: white;
}

.btnProcurar-produto{
    -fx-background-color:  #71afe5;
    -fx-text-fill: white;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cadastro de Geral ---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image usuario ----------*/
.tituloBackground-cadastroGeral{
    -fx-background-color: linear-gradient(to right top, #9E9E9E , #212121);
}
.imgBackground-cadastroGeral{
    -fx-background-image: url("../white/images/cad/icoGeral.png");
    -fx-background-position: bottom center;

    -fx-background-size: auto 165;
    -fx-background-repeat: no-repeat;
}
.botoesBackground-cadastroGeral{
    -fx-border-color:  black;
    -fx-border-width:  1 1 1 0;
    -fx-background-color:  #757575;
}
.textArea-cadastroGeral {
    -fx-background-color: #757575;
}

.textArea-cadastroGeral .scroll-pane {
    -fx-background-color: #eaeaea;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Cadastro de endereço de Clientes -----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Table view ----------*/
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #5C6BC0;
    -fx-border-color: #BDBDBD;
    -fx-border-width: 0 1 0 0;
    -fx-border-insets: 5 0 5 0;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background{
    -fx-background-color:  #5C6BC0;

}

.table-view{
    -fx-background-color: #FAFAFA;

    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.table-view:focused{
    -fx-background-color: #FAFAFA;
}

.table-view .table-cell{
    -fx-text-fill: #000000;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FAFAFA;
    -fx-table-border-color: #5C6BC0;
    -fx-table-cell-border-color: #5C6BC0;

}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #E8EAF6;
}

.table-row-cell:selected {
    -fx-background-color: #C5CAE9;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 1em;
}

.table-view .scroll-bar:horizontal .thumb:hover,
.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #757575;
    -fx-effect: dropshadow( one-pass-box , #000000, 4, 4, 0, 0);
}

.table-view .scroll-bar:horizontal .thumb:pressed,
.table-view .scroll-bar:vertical .thumb:pressed {
    -fx-background-insets: 1.0;
    -fx-effect: dropshadow( one-pass-box , #000000, 4, 4, 0, 0);
    -fx-background-color: #a6a6a6;
}

/*  Tamanho da barra */
.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.01em 0.01em  ;
}

.table-view .scroll-bar:horizontal > .increment-button,
.table-view .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.01em 0.01em  ;
}

.corner {
    -fx-background-color: transparent;
}

/*----------  Image cliente ----------*/
.table-border{
    -fx-border-color:  #5C6BC0;
    -fx-border-radius: 0 0 10 10;
}