/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Tela de Lançamentos -------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image cliente ----------*/
.background-Lancamentos {
    -fx-background-color:  #3c3c3c;
}

/*----------  Image cliente ----------*/
.background-totaisLancamentos {
    -fx-background-color:  #7cb342;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisEntrega {
    -fx-background-color:  #0078d4;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisPedidos {
    -fx-background-color:  #ca5010;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisPedidos {
    -fx-background-color:  #ca5010;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisItens {
    -fx-background-color:  #dadada;
    -fx-background-radius: 10;
}


