/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.logoTexto{
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 36px;
}

.btnOkErro {
    -fx-background-color: radial-gradient(center 80% 10% , radius 180% , #e60000 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

.btnOkErro:hover {
    -fx-background-color: linear-gradient(to top, #e60000 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

.btnOkErro:pressed {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

.btnOkConfirma {
    -fx-background-color: radial-gradient(center 80% 10% , radius 180% , #58E82D 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

.btnOkConfirma:hover {
    -fx-background-color: linear-gradient(to top, #58E82D 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

.btnOkConfirma:pressed {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnConfirmar {
    -fx-background-color: radial-gradient(center 80% 10%, radius 180%, #58E82D 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

#btnConfirmar:hover {
    -fx-background-color: linear-gradient(to top, #58E82D 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnConfirmar:pressed {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnCancelar {
    -fx-background-color: radial-gradient(center 80% 10% , radius 180% , #e60000 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

#btnCancelar:hover {
    -fx-background-color: linear-gradient(to top, #e60000 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnCancelar:pressed {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnTestarConexao {
    -fx-background-color: radial-gradient(center 80% 10% , radius 180% , #3366ff 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

#btnTestarConexao:hover {
    -fx-background-color: linear-gradient(to top, #3366ff 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnTestarConexao:pressed {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#paneDireita{
    -fx-background-color: linear-gradient(to bottom right, #f2f2f2 0%, #ffffff 30%, #ffffff 70%, #d9d9d9 100%);
}


#paneEsquerda{
    -fx-background-color: linear-gradient(to bottom right, #000000 0%, #212121 50%, #333333 100%);
}

.btnSombra {
    -fx-effect: dropshadow( one-pass-box , #333333, 0, 0.0 , 2, 2);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;

}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: blue;
}

.text-field:hover{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
}

.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0 0 2 0;
}

.choice-box:focused {
    -fx-background-color: transparent ;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: blue;
}

/*--------  Botao de exit ----------*/
#btnExit{
    -fx-background-color: transparent;
    -fx-background-image: url("resources/images/btnExit_48.png");
    -fx-background-position: 0 0;
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
}

#btnExit:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 0;
    -fx-border-color: #0084ff;
}

#btnExit:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 0;
    -fx-border-color: #0084ff;
}

#background{
    -fx-effect: dropshadow( one-pass-box , #333333, 0, 0.0 , 3, 3);
}

