/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Paleta de cores -----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Necessário separar em uma folha de estilo, pois dependendo da propriedade do botão a borda irá mudar ----------*/
.spinner {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;

    -fx-padding: 0 0 3 0;
}

.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-border-color :#4d4d4d;
    -fx-border-radius: 1px;
    -fx-border-width: 1 0 1 1;
}

.spinner .increment-arrow-button {
    -fx-background-color: transparent;
    -fx-border-color :#4d4d4d;
    -fx-border-radius: 1px;
    -fx-border-width: 1 1 1 0;
}

.spinner .increment-arrow-button:hover {
    -fx-background-color: transparent;
    -fx-border-color :#4059a9;
    -fx-border-width: 2 2 2 0;
}

.spinner .decrement-arrow-button:hover {
    -fx-background-color: transparent;
    -fx-border-color :#4059a9;
    -fx-border-width: 2 0 2 2;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #4d4d4d;
    -fx-font-size: 20px;

}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #4d4d4d;
}

.spinner .text-field:focused {
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #4059a9;
}