/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos do Dashboard ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

.background-root {
    -fx-background-color:  #ffffff;
}


/*---------- Barra botões ----------*/
.panelBtnAcessoRapido {
	-fx-background-color: linear-gradient(to right top, #212121, #333333);
	-fx-border-color: black;
	-fx-border-width: 0 1 0 0;
}

.panelLogo {
	-fx-background-color: #1A1918;
}

.panelTabPane {
	-fx-background-color: linear-gradient(to right top, #212121, #333333);
}

.panelSubBotoes {
	-fx-background-color: linear-gradient(to right top, #3c3c3c, #666666);
	-fx-border-color: black;
	-fx-border-width: 0 1 0 0;
}

.painelbackuground {
	-fx-background-color: linear-gradient(to right top, #eaeaea, #EEEEEE, #eaeaea);
}

.dashBoardGraficos {
	-fx-border-color: black;
	-fx-border-width: 1 0 0 0;
}

/*----------  Panels de rolagens ----------*/
.split-pane:horizontal>.split-pane-divider {
	-fx-background-color: transparent;
}

.split-pane:vertical>.split-pane-divider {
	-fx-background-color: transparent;
}

.split-pane *.split-pane-divider {
	-fx-padding: 0;
}

/*----------  Tab panels ----------*/
/* Remove a borda de selecao da tab */
.tab {
	-fx-border-width: 0 1 0 0;
	-fx-border-color: #000000;
	-fx-border-insets: 7 0 7 0;
	-fx-padding: 0 10 0 10;
	-fx-pref-height: 35px;
}

.tab .tab-label {
	-fx-alignment: CENTER;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.tab:selected {
	-fx-background-radius: 7 7 0 0;
	-fx-background-color: #FFFFFF;
	-fx-pref-height: 40px;
	-fx-border-width: 0;
	-fx-background-insets: 0 -1 0 -1;
}

.tab:selected .tab-label {
	-fx-text-fill: #000000;
}

.tab:hover .tab-label {
	-fx-text-fill: #000000;
}

.tab:selected:hover .tab-label {
	-fx-text-fill: #595959;
}

.jfx-tab-pane .control-buttons-tab .jfx-rippler {
	-jfx-rippler-fill: #0a7800;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
	-jfx-rippler-fill: #0a7800;
}

.jfx-tab-pane .tab-selected-line {
	-fx-background-color: #0a7800;
	-fx-pref-height: 3;
	-fx-background-insets: 0 -0.01 0 -0.01;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button>.jfx-svg-glyph {
	-fx-background-color: red;
}

.jfx-tab-pane .headers-region {
	-fx-background-color: transparent;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: #0f9b0f;
	-fx-background-color: linear-gradient(to top right, #15d115, #10a210, #12ba12, #0f9b0f,
		#10a210);
}

/*----------  SplitBox - Pane divisor ----------*/
.container_splitpane { /* Remove as bordas grossas e coloca um realce em preto */
	-fx-box-border: #000000;
	-fx-padding: 1;
}

/*---------- Estilos do scroll ----------*/
.scroll-pane {
	-fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.increment-button, .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
}

/* Barra */
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
	-fx-background-color: #3c3c3c;
	-fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
	-fx-background-color: #757575;
}

.scroll-bar:horizontal .thumb:pressed, .scroll-bar:vertical .thumb:pressed
	{
	-fx-background-color: #1e90ff;
	-fx-background-insets: 3.0;
}

/* Quina */
.scroll-pane>.corner {
	-fx-background-color: black;
}

/*---------- Estilos do rodape ----------*/
.lblRodape {
	-fx-text-fill: #eee;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Botoes ---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Hamburger ----------*/
#btnBurgerBotao StackPane {
	-fx-background-color: white;
}

/*---------- Botoes Cadastros ----------*/
#btnCadastros {
	-fx-background-image:
		url("../imagens/white/dashBoard/bntCadastros_128.png");
	-fx-background-position: 10 center;
	-fx-background-size: 35 35;
	-fx-background-repeat: no-repeat;
	-fx-text-fill: #ffffff;
}

#btnCadastros:hover {
	-fx-background-image:
		url("../imagens/white/dashBoard/bntCadastros_Hover128.png");
	-fx-text-fill: #7AB547;
}

#btnCadastros:focused {
	-fx-background-image:
		url("../imagens/white/dashBoard/bntCadastros_Select128.png");
	-fx-text-fill: #1e90ff;
}

/*---------- Botoes Lançamentos ----------*/
#btnLancamentos {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnLancamento_128.png");
	-fx-background-position: 10 center;
	-fx-background-size: 35 35;
	-fx-background-repeat: no-repeat;
	-fx-text-fill: #ffffff;
}

#btnLancamentos:hover {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnLancamento_Hover128.png");
	-fx-text-fill: #7AB547;
}

#btnLancamentos:focused {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnLancamento_Select128.png");
	-fx-text-fill: #1e90ff;
}

/*---------- Botoes Pedidos ----------*/
#btnPesquisas {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnPesquisas_128.png");
	-fx-background-position: 10 center;
	-fx-background-size: 35 35;
	-fx-background-repeat: no-repeat;
	-fx-text-fill: #ffffff;
}

#btnPesquisas:hover {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnPesquisas_Hover128.png");
	-fx-text-fill: #7AB547;
}

#btnPesquisas:focused {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnPesquisas_Select128.png");
	-fx-text-fill: #1e90ff;
}

/*---------- Botoes Configuracoes ----------*/
#btnConfiguracoes {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnConfiguracao_128.png");
	-fx-background-position: 10 center;
	-fx-background-size: 35 35;
	-fx-background-repeat: no-repeat;
	-fx-text-fill: #ffffff;
}

#btnConfiguracoes:hover {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnConfiguracao_Hover128.png");
	-fx-text-fill: #7AB547;
}

#btnConfiguracoes:focused {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnConfiguracao_Select128.png");
	-fx-text-fill: #1e90ff;
}

/*---------- Botão filial ----------*/
#btnEmpresa {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnEmpresa_128.png");
	-fx-background-position: 10 center;
	-fx-background-size: 35 35;
	-fx-background-repeat: no-repeat;
}

#btnEmpresa:hover {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnEmpresa_Hover128.png");
}

#btnEmpresa:focused {
	-fx-background-image:
		url("../imagens/white/dashBoard/btnEmpresa_Select128.png");
}

#btnCentralNotificacoes {
	-fx-background-image:
		url("../imagens/white/dashBoard/icoMenssage_Empty_128.png");
	-fx-background-position: 10 center;
	-fx-background-size: 35 35;
	-fx-background-repeat: no-repeat;
}

#btnCentralNotificacoes:cheio {
	-fx-background-image:
		url("../imagens/white/dashBoard/icoMenssage_Full_128.png");
}