/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilo Geral  -------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Estilos do scroll ----------*/
.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/* Barra */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #757575;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #1e90ff;
    -fx-background-insets: 3.0;
}

/* Quina */
.scroll-pane > .corner {
    -fx-background-color: black;
}

/*---------- Estilo básico dos spiners ----------*/
.spinner {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;
    -fx-padding: 0 0 3 0;
}

.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-border-color :#4d4d4d;
    -fx-border-radius: 1px;
    -fx-border-width: 1;
}

.spinner .increment-arrow-button {
    -fx-background-color: transparent;
    -fx-border-color :#4d4d4d;
    -fx-border-radius: 1px;
    -fx-border-width: 1;
}

.spinner .increment-arrow-button:hover {
    -fx-background-color: transparent;
    -fx-border-color :#4059a9;
    -fx-border-width: 2;
}

.spinner .decrement-arrow-button:hover {
    -fx-background-color: transparent;
    -fx-border-color :#4059a9;
    -fx-border-width: 2;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #4d4d4d;
    -fx-font-size: 20px;

}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #4d4d4d;
}

.spinner .text-field:focused {
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #4059a9;
}

/*---------- Estilo básico da tela ----------*/
.background-cartao {
    -fx-background-color:  #eaeaea;
}

.background-dados {
    -fx-background-color:  #ffffff;
    -fx-background-radius: 10px;
}

.background-imagens {
    -fx-border-color: #4d4d4d;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}