/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos do Dashboard ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Estilos de fonte ----------*/
.texto-titulo{
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.texto-stilo-1{
    -fx-text-fill: white;
}
.texto-stilo-2 {
    -fx-background-color:  #ffffff;
}

/*---------- Barra botões ----------*/
.panelBotoes {
    -fx-background-color: linear-gradient(to right top, #212121, #333333);
    -fx-border-color:  black;
    -fx-border-width:  0 1 0 0;
}

.panelLogo {
    -fx-background-color: #1A1918;
}

.panelTabPane {
    -fx-background-color: linear-gradient(to right top, #212121, #333333);
}

.panelSubBotoes {
    -fx-background-color: linear-gradient(to right top, #3c3c3c, #666666);
    -fx-border-color:  black;
    -fx-border-width:  0 1 0 0;
}

.painelbackuground {
    -fx-background-color: linear-gradient(to right top, #eaeaea, #EEEEEE, #eaeaea);
}

#cbBoxFilial {
    -fx-background-color:  #dadada;
}

#cbBoxFilial .jfx-combo-box .label {
    -fx-background-color:  WHITE;
    -fx-text: Black;
}

/*----------  Panels de rolagens ----------*/
.split-pane:horizontal > .split-pane-divider {
	-fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
	-fx-background-color: transparent;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
}

/*----------  Tab panels ----------*/
/* Remove a borda de selecao da tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.tab-pane .tab-content-area {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #000000;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #FFEB3B;
    -fx-background-color: linear-gradient(to top right, #FFEE58, #FFEB3B, #FDD835, #FFCA28, #FFC107);
    -fx-padding: 0;
}

.tab-pane .tab-header-area .control-buttons-tab {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 -5;
}


.tab-pane .tab-header-area .control-buttons-tab .tab-down-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0.0;
}

.tab-pane .tab-header-area .control-buttons-tab .tab-down-button:hover {
    -fx-background-color: #dafd9c;
}

.tab-pane .tab-header-area .control-buttons-tab .tab-down-button .arrow {
    -fx-background-color: #000000;
    -fx-pref-height: 10px;
    -fx-shape: "M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z";
    -fx-rotate: 90;
}

.tab-pane .tab-header-area .control-buttons-tab .tab-down-button .arrow:hover {
    -fx-background-color: #1b3104;
}

.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
    -fx-tab-min-width: 4em;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 5 0 0 135px;
}

.tab {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0;
    -fx-background-radius: 7 7 0 0;
    /*-fx-border-width: 0.5;
    -fx-border-color: #6A8347;
    -fx-border-radius: 7 7 0 0;*/
    -fx-padding: 0 10 0 10;
    -fx-pref-height: 35px;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

.tab:selected {
    -fx-pref-height: 40px;
    /*-fx-border-color: #000000;
    -fx-border-width: 0 0 2 0;*/
}

.tab:selected .tab-label {
    -fx-text-fill: #000000;
}

.tab:hover {

}

.tab:hover .tab-label {
    -fx-text-fill: #F9A825;
}
/*
.tab .tab-close-button {
    -fx-background-color: #ff3333;
}


.jfx-tab-pane .control-buttons-tab .tab-down-button{
    -fx-background-color: #000000;
    -fx-padding: 0 0 0 0;
}

.jfx-tab-pane .control-buttons-tab {
    -fx-padding: 0 0 0 0;
}*/

.jfx-tab-pane .control-buttons-tab .jfx-rippler{
    -jfx-rippler-fill: #F9A825;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #F9A825;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #F9A825;
    -fx-pref-height: 3;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-background-color: red;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #FFEB3B;
    -fx-background-color: linear-gradient(to top right, #FFEE58, #FFEB3B, #FDD835, #FFCA28, #FFC107);
}

/*----------  SplitBox - Pane divisor ----------*/
.splitbox { /* Remove as bordas grossas e coloca um realce em preto */
    -fx-box-border: #000000;
    -fx-padding: 1;
}

/*---------- Estilos do scroll ----------*/
.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/* Barra */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #757575;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #1e90ff;
    -fx-background-insets: 3.0;
}

/* Quina */
.scroll-pane > .corner {
    -fx-background-color: black;
}

/*---------- Estilos do rodape ----------*/
.lblRodape {
    -fx-text-fill: #eee;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Botoes ---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Hamburger ----------*/
#btnBurgerBotao StackPane {
    -fx-background-color: white;
}

/*---------- Botoes Cadastros ----------*/
#btnCadastros {
    -fx-background-image: url("../imagens/white/dashBoard/bntCadastros_128.png");
    -fx-background-position: 10 center;
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;

    -fx-text-fill: #ffffff;
}

#btnCadastros:hover {
    -fx-background-image: url("../imagens/white/dashBoard/bntCadastros_Hover128.png");
    -fx-text-fill: #7AB547;
}

#btnCadastros:focused{
    -fx-background-image: url("../imagens/white/dashBoard/bntCadastros_Select128.png");
    -fx-text-fill: #1e90ff;
}

/*---------- Botoes Lançamentos ----------*/
#btnLancamentos {
    -fx-background-image: url("../imagens/white/dashBoard/btnLancamento_128.png");
    -fx-background-position: 10 center;
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;

    -fx-text-fill: #ffffff;
}

#btnLancamentos:hover {
    -fx-background-image: url("../imagens/white/dashBoard/btnLancamento_Hover128.png");
    -fx-text-fill: #7AB547;
}

#btnLancamentos:focused{
    -fx-background-image: url("../imagens/white/dashBoard/btnLancamento_Select128.png");
    -fx-text-fill: #1e90ff;
}

/*---------- Botoes Pedidos ----------*/
#btnPesquisas {
    -fx-background-image: url("../imagens/white/dashBoard/btnPesquisas_128.png");
    -fx-background-position: 10 center;
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;

    -fx-text-fill: #ffffff;
}

#btnPesquisas:hover {
    -fx-background-image: url("../imagens/white/dashBoard/btnPesquisas_Hover128.png");
    -fx-text-fill: #7AB547;
}

#btnPesquisas:focused{
    -fx-background-image: url("../imagens/white/dashBoard/btnPesquisas_Select128.png");
    -fx-text-fill: #1e90ff;
}

/*---------- Botoes Configuracoes ----------*/
#btnConfiguracoes {
    -fx-background-image: url("../imagens/white/dashBoard/btnConfiguracao_128.png");
    -fx-background-position: 10 center;
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;

    -fx-text-fill: #ffffff;
}

#btnConfiguracoes:hover {
    -fx-background-image: url("../imagens/white/dashBoard/btnConfiguracao_Hover128.png");
    -fx-text-fill: #7AB547;
}

#btnConfiguracoes:focused{
    -fx-background-image: url("../imagens/white/dashBoard/btnConfiguracao_Select128.png");
    -fx-text-fill: #1e90ff;
}

/*---------- Botão filial ----------*/
#btnEmpresa {
    -fx-background-image: url("../imagens/white/dashBoard/btnEmpresa_128.png");
    -fx-background-position: 10 center;
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
}

#btnEmpresa:hover {
    -fx-background-image: url("../imagens/white/dashBoard/btnEmpresa_Hover128.png");
}

#btnEmpresa:focused{
    -fx-background-image: url("../imagens/white/dashBoard/btnEmpresa_Select128.png");
}

#btnCentralNotificacoes {
	-fx-background-image:
		url("../imagens/white/dashBoard/icoMenssage_Empty_128.png");
	-fx-background-position: 10 center;
	-fx-background-size: 35 35;
	-fx-background-repeat: no-repeat;
}

#btnCentralNotificacoes:cheio {
	-fx-background-image:
		url("../imagens/white/dashBoard/icoMenssage_Full_128.png");
}
