/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Botoes ---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/* Usado para teste */
.background-Black1 {
     -fx-background-color:  #000000;
 }
 
/*--------------------------------  Cadastros --------------------------------*/
.titulo-detalhe-cadastro {
    -fx-background-color:  #71afe5;
}

.btnCadastro {
    -fx-text-fill: #ffffff;
}

.btnCadastro:hover {
    -fx-background-color: rgba(113, 175, 229, 0.5);
}

.btnCadastro:focused {
	-fx-font-weight: bold;
}

/*--------------------------------  Pesquisa --------------------------------*/
.titulo-detalhe-pesquisa {
    -fx-background-color:  #60a917;
}

.btnPesquisa {
    -fx-text-fill: #ffffff;
}

.btnPesquisa:hover {
    -fx-background-color: rgba(96, 169, 23, 0.5);
}

.btnPesquisa:focused{
    -fx-font-weight: bold;
}

