/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Login ----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*--------  Botao de login ----------*/
#btnLogin {
    -fx-background-color: radial-gradient(center 80% 10% , radius 180% , #58E82D 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

#btnLogin:hover {
    -fx-background-color: linear-gradient(to top, #58E82D 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnLogin:pressed {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#paneLogin{
    -fx-background-color: linear-gradient(to bottom right, #f2f2f2 0%, #ffffff 50%, #d9d9d9 100%);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.25) , 0, 0.2 , 5, 5);
}


#paneLogo{
    -fx-background-color: linear-gradient(to bottom right, #000000 0%, #212121 50%, #333333 100%);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.25) , 0, 0.2 , 5, 5);
}

.logoTexto{
    -fx-text-fill: white;
}

.loginSombra {
    -fx-effect: dropshadow( one-pass-box , #333333, 0, 0.0 , 3, 3);
}


/*--------  Botao de exit ----------*/
#btnExit{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/login/btnExit_48.png");
    -fx-background-position: 0 0;
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
}

#btnExit:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 0;
    -fx-border-color: #0084ff;
}

#btnExit:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 0;
    -fx-border-color: #0084ff;
}

/*--------  Background do login ----------*/
.LayoutLogin{
    -fx-background-color:  transparent;
}



/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Cores de Background e Fonte -----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

.backgroundColorNivel1{
    -fx-background-color: #333333;
}

.backgroundColorNivel2{
    -fx-background-color: #212121;
}

.backgroundColorNivel3{
    -fx-background-color: #000000;
}

.titulosBackground{
    -fx-background-color: #000000;
}

.titulosFont{
    -fx-font-size : 24px;
    -fx-text-fill: white;
}

.rodapeFont{
    -fx-text-fill: white;
    -fx-fill: white;
}


/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos do Main Mesas e Pedidos -------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/* Estilos da barra de menu */
.menu-bar {
    -fx-background-color: #212121;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: #005a9e;
}
.menu-item:hover {
    -fx-background-color: #005a9e;
}
.context-menu {
    -fx-fill: white;
    -fx-background-color: linear-gradient(#212121 0%, #212121  100%);
    -fx-effect: dropshadow( one-pass-box , rgba(75,75,75,0.8) , 0, 0.0 , 2, 2);
}

/* Estilos da barra de botoes */
#hBoxPainelBotoes{
    -fx-background-image: url("../images/login/Shiyoken.png");
    -fx-background-position: right center;
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
}


/* Estilos dos botoes que estao na barra de menu */
#btnCadClientes {

    -fx-background-image: url("../images/btn/bntUsuario_48.png");
    -fx-background-position: 2 2;
    -fx-background-size: 44 44;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;

}

#btnCadClientes:pressed{
    -fx-background-position: 1 3;
}

#btnCadClientes:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
    -fx-border-color: #0084ff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

#btnCadClientes:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
}

/*------------------*/
#btnCadProdutos {
    -fx-background-image: url("../images/btn/btnProduto_48.png");
    -fx-background-position: 2 2;
    -fx-background-size: 44 44;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#btnCadProdutos:pressed{
    -fx-background-position: 1 3;
}

#btnCadProdutos:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
    -fx-border-color: #0084ff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

#btnCadProdutos:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
}

/*------------------*/
#btnPedCompra {
    -fx-background-image: url("../images/btn/bntCompra_48.png");
    -fx-background-position: 2 2;
    -fx-background-size: 44 44;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#btnPedCompra:pressed{
    -fx-background-position: 1 3;
}

#btnPedCompra:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
    -fx-border-color: #0084ff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

#btnPedCompra:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
}

/*------------------*/
#btnPedVenda {
    -fx-background-image: url("../images/btn/bntVenda_48.png");
    -fx-background-position: 2 2;
    -fx-background-size: 44 44;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#btnPedVenda:pressed{
    -fx-background-position: 1 3;
}

#btnPedVenda:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
    -fx-border-color: #0084ff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

#btnPedVenda:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
}

/*------------------*/
#btnMesas {
    -fx-background-image: url("../images/icon/icoMesa_98.png");
    -fx-background-position: 2 2;
    -fx-background-size: 44 44;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#btnMesas:pressed{
    -fx-background-position: 1 3;
}

#btnMesas:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
    -fx-border-color: #0084ff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

#btnMesas:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
}

/*------------------*/
#btnEntrega {
    -fx-background-image: url("../images/icon/icoEntrega_64.png");
    -fx-background-position: 2 2;
    -fx-background-size: 44 44;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#btnEntrega:pressed{
    -fx-background-position: 1 3;
}

#btnEntrega:hover{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
    -fx-border-color: #0084ff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

#btnEntrega:focused{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
}



/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Mesas ----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------- Estilos Detalhes da Mesa  ---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/* Estilos de botoes */
#btnDtMesaFecharMesa {
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%, #212121 5%, #212121 31%,#58E82D 31%, #58E82D 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../images/btn/bntVenda_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnDtMesaFecharMesa:hover {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #58E82D 5%, #58E82D 31%,#212121 31%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnDtMesaFecharMesa:focused{
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%,#212121 5%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnDtMesaFecharMesa:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #b3ffb3;
}

/*------------------*/
#btnDtMesaRemItem {
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%, #212121 5%, #212121 31%,#ff1a1a 31%, #ff1a1a 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../images/btn/bntRemovDes_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnDtMesaRemItem:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #ff1a1a 5%, #ff1a1a 31%,#212121 31%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnDtMesaRemItem:focused{
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%,#212121 5%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnDtMesaRemItem:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ff9999;
}

/*------------------*/
#btnDtMesaImpItem {
    -fx-background-color: linear-gradient(to right, #0066ff 0%, #0066ff 5%, #212121 5%, #212121 31%,#0066ff 31%, #0066ff 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../images/btn/btnImprimir_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnDtMesaImpItem:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #0066ff 5%, #0066ff 31%,#212121 31%, #212121 95%, #0066ff 95%, #0066ff 100%);
    -fx-text-fill: #ccf2ff;
}

#btnDtMesaImpItem:focused{
    -fx-background-color: linear-gradient(to right, #0066ff 0%, #0066ff 5%,#212121 5%, #212121 95%, #0066ff 95%, #0066ff 100%);
    -fx-text-fill: #ccf2ff;
}

#btnDtMesaImpItem:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ccf2ff;
}

/*------------------*/
#btnDtMesaJuntarMesa {
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%, #212121 5%, #212121 31%,#FAB002 31%, #FAB002 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../images/btn/btnClientesMesa_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnDtMesaJuntarMesa:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #FAB002 5%, #FAB002 31%,#212121 31%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnDtMesaJuntarMesa:focused{
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%,#212121 5%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnDtMesaJuntarMesa:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ffe066;
}

/*------------------*/
#btnDtMesaAddItem {
    -fx-background-color: linear-gradient(to right, #742FE3 0%, #742FE3 5%, #212121 5%, #212121 31%,#742FE3 31%, #742FE3 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../images/btn/bntInserirDes_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnDtMesaAddItem:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #742FE3 5%, #742FE3 31%,#212121 31%, #212121 95%, #742FE3 95%, #742FE3 100%);
    -fx-text-fill: #e6b3ff;
}

#btnDtMesaAddItem:focused{
    -fx-background-color: linear-gradient(to right, #742FE3 0%, #742FE3 5%,#212121 5%, #212121 95%, #742FE3 95%, #742FE3 100%);
    -fx-text-fill: #e6b3ff;
}

#btnDtMesaAddItem:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #e6b3ff;
}

/*------------------*/
#btnDtMesaVoltar {
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%, #212121 5%, #212121 31%,#57585C 31%, #57585C 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../images/btn/btnVoltar_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnDtMesaVoltar:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #57585C 5%, #57585C 31%,#212121 31%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnDtMesaVoltar:focused{
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%,#212121 5%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnDtMesaVoltar:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ffffff;
}




















/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Stylos de Layouts ---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/



/* Estilos de botões */
#gdPaneTitulo{
    -fx-background-color: linear-gradient(from 150px 170px to 50px 50px, reflect,  #333333 30%, #404040  47%);
    -fx-border-color: #f2f2f2;
    -fx-border-width: 0 0 3 0;
}

#panelBotoes{
    -fx-background-color: linear-gradient(from 150px 170px to 50px 50px, reflect,  #333333 30%, #404040  47%);
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #f2f2f2;
    -fx-border-width: 3 0 3 3;
    -fx-border-radius: 7 0 0 7;
}

#bdPaneConteudo{
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , #141414, #000000);
}

#gdPaneRodape{
    -fx-background-color: linear-gradient(from 150px 170px to 50px 50px, reflect,  #333333 30%, #404040  47%);
    -fx-background-radius: 6;
    -fx-border-color: #808080;
    -fx-border-width: 3;
    -fx-border-radius: 4;
}






/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Stylos de  Botaoes --------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/* Estilos de botÃµes */
#btnConfirmar {
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%, #212121 5%, #212121 35%,#58E82D 35%, #58E82D 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../images/btn/btnConfirma_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnConfirmar:hover {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #58E82D 5%, #58E82D 35%,#212121 35%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnConfirmar:focused{
    -fx-background-color: linear-gradient(to right, #58E82D 0%, #58E82D 5%,#212121 5%, #212121 95%, #58E82D 95%, #58E82D 100%);
    -fx-text-fill: #b3ffb3;
}

#btnConfirmar:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #b3ffb3;
}

/*------------------*/
#btnCancelar {
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%, #212121 5%, #212121 35%,#ff1a1a 35%, #ff1a1a 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../images/btn/btnCancelar_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnCancelar:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #ff1a1a 5%, #ff1a1a 35%,#212121 35%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnCancelar:focused{
    -fx-background-color: linear-gradient(to right, #ff1a1a 0%, #ff1a1a 5%,#212121 5%, #212121 95%, #ff1a1a 95%, #ff1a1a 100%);
    -fx-text-fill: #ff9999;
}

#btnCancelar:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ff9999;
}

/*------------------*/
#btnPesquisar {
    -fx-background-color: linear-gradient(to right, #0066ff 0%, #0066ff 5%, #212121 5%, #212121 35%,#0066ff 35%, #0066ff 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../images/btn/btnPesquisar_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnPesquisar:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #0066ff 5%, #0066ff 35%,#212121 35%, #212121 95%, #0066ff 95%, #0066ff 100%);
    -fx-text-fill: #ccf2ff;
}

#btnPesquisar:focused{
    -fx-background-color: linear-gradient(to right, #0066ff 0%, #0066ff 5%,#212121 5%, #212121 95%, #0066ff 95%, #0066ff 100%);
    -fx-text-fill: #ccf2ff;
}

#btnPesquisar:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ccf2ff;
}

/*------------------*/
#btnExcluir {
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%, #212121 5%, #212121 35%,#FAB002 35%, #FAB002 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #000000;

    -fx-background-image: url("../images/btn/btnExcluir_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnExcluir:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #FAB002 5%, #FAB002 35%,#212121 35%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnExcluir:focused{
    -fx-background-color: linear-gradient(to right, #FAB002 0%, #FAB002 5%,#212121 5%, #212121 95%, #FAB002 95%, #FAB002 100%);
    -fx-text-fill: #ffe066;
}

#btnExcluir:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ffe066;
}

/*------------------*/
#btnNovo {
    -fx-background-color: linear-gradient(to right, #742FE3 0%, #742FE3 5%, #212121 5%, #212121 35%,#742FE3 35%, #742FE3 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../images/btn/bntNovo_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnNovo:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #742FE3 5%, #742FE3 35%,#212121 35%, #212121 95%, #742FE3 95%, #742FE3 100%);
    -fx-text-fill: #e6b3ff;
}

#btnNovo:focused{
    -fx-background-color: linear-gradient(to right, #742FE3 0%, #742FE3 5%,#212121 5%, #212121 95%, #742FE3 95%, #742FE3 100%);
    -fx-text-fill: #e6b3ff;
}

#btnNovo:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #e6b3ff;
}

/*------------------*/
#btnVoltar {
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%, #212121 5%, #212121 35%,#57585C 35%, #57585C 100%);
    -fx-effect: dropshadow( one-pass-box , #000000, 0, 0.0 , 3, 3);
    -fx-text-fill: #ffffff;

    -fx-background-image: url("../images/btn/btnVoltar_48.png");
    -fx-background-position: 11 0;
    -fx-background-size: 25 26;
    -fx-background-repeat: no-repeat;
}

#btnVoltar:hover{
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 5%, #57585C 5%, #57585C 35%,#212121 35%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnVoltar:focused{
    -fx-background-color: linear-gradient(to right, #57585C 0%, #57585C 5%,#212121 5%, #212121 95%, #57585C 95%, #57585C 100%);
    -fx-text-fill: #ffffff;
}

#btnVoltar:pressed {
    -fx-padding: 15 13 14 15; /* Pading Ã© a movimentaÃ§Ã£o da descriÃ§Ã£o do botÃ£o, ele Ã© o espaÃ§amento entre os elementos. */
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
    -fx-background-position: 8 2;
    -fx-text-fill: #ffffff;
}

/*------------------*/
#btnAjuda {
    -fx-background-color: #212121;
    -fx-background-image: url("../images/btn/btnAjuda_48.png");
    -fx-background-position: 1 0;
    -fx-background-size: 29 29;
    -fx-background-repeat: no-repeat;
}

#btnAjuda:hover{
    -fx-background-image: url("../images/btn/btnAjudaSelect_48.png");
}

#btnAjuda:focused{

}

/*------------------*/
#btnInserir {
    -fx-background-image: url("../images/btn/bntInserirDes_48.png");
    -fx-background-position: 2 0;
    -fx-background-size: 23 23;
    -fx-background-repeat: no-repeat;
}

#btnInserir:pressed{
    -fx-background-position: 1 1;
}

#btnInserir:hover{
    -fx-background-image: url("../images/btn/bntInserirMarc_48.png");
}

#btnInserir:focused{

}

/*------------------*/
#btnRemover {
    -fx-background-image: url("../images/btn/bntRemovDes_48.png");
    -fx-background-position: 2 0;
    -fx-background-size: 23 23;
    -fx-background-repeat: no-repeat;
}

#btnRemover:pressed{
    -fx-background-position: 1 1;
}

#btnRemover:hover{
    -fx-background-image: url("../images/btn/bntRemovMarc_48.png");
}

#btnRemover:focused{

}


/*--------  Botao de pesquisa ----------*/
#btnCidCodigo {
    -fx-background-color: #666666;
    -fx-background-image: url("../images/btn/btnPesquisar_48.png");
    -fx-background-position: 4 1.5;
    -fx-background-size: 22 22;
    -fx-background-repeat: no-repeat;
}

#btnCidCodigo:pressed{
    -fx-background-color: rgba(153, 206, 255,0.5);
    -fx-background-radius: 4;
    -fx-border-color: #0084ff;
    -fx-background-position: 3 2;
}

/*--------  Botao de pesquisa ----------*/
#btnFilCodigo {
    -fx-background-color: #666666;
    -fx-background-image: url("../images/btn/btnPesquisar_48.png");
    -fx-background-position: 4 1.5;
    -fx-background-size: 22 22;
    -fx-background-repeat: no-repeat;
}

#btnFilCodigo:pressed{
    -fx-background-position: 3 2;
}



