/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilo Geral  -------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*---------- Estilos dos botoes ----------*/
#btnConfirmar {
	-fx-background-color: #ffffff;
	-fx-text-fill: #43A047;
	-fx-border-color: #43A047;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
}

#btnConfirmar:hover {
	-fx-background-color: #43A047;
	-fx-text-fill: #ffffff;
}

#btnConfirmar:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnCancelar {
	-fx-background-color: #ffffff;
	-fx-text-fill: #a4262c;
	-fx-border-color: #a4262c;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
}

#btnCancelar:hover {
	-fx-background-color: #a4262c;
	-fx-text-fill: #ffffff;
}

#btnCancelar:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnNovo {
	-fx-background-color: #ffffff;
	-fx-text-fill: #730099;
	-fx-border-color: #730099;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
}

#btnNovo:hover {
	-fx-background-color: #730099;
	-fx-text-fill: #ffffff;
}

#btnNovo:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnExcluir {
	-fx-background-color: #ffffff;
	-fx-text-fill: #ca5010;
	-fx-border-color: #ca5010;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
}

#btnExcluir:hover {
	-fx-background-color: #ca5010;
	-fx-text-fill: #ffffff;
}

#btnExcluir:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnEditar {
	-fx-background-color: #ffffff;
	-fx-text-fill: #737373;
	-fx-border-color: #737373;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
}

#btnEditar:hover {
	-fx-background-color: #8c8c8c;
	-fx-text-fill: #ffffff;
}

#btnEditar:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnAtualizar {
	-fx-background-color: #ffffff;
	-fx-text-fill: #4052ab;
	-fx-border-color: #4052ab;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
}

#btnAtualizar:hover {
	-fx-background-color: #4052ab;
	-fx-text-fill: #ffffff;
}

#btnAtualizar:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnVoltar {
	-fx-background-color: #ffffff;
	-fx-text-fill: #333333;
	-fx-border-color: #333333;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
}

#btnVoltar:hover {
	-fx-background-color: #333333;
	-fx-text-fill: #ffffff;
}

#btnVoltar:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnAdicionar {
	-fx-background-color: #ffffff;
	-fx-text-fill: #43A047;
	-fx-border-color: #43A047;
	-fx-border-radius: 1px;
	-fx-border-width: 2px;
}

#btnAdicionar:hover {
	-fx-background-color: #43A047;
	-fx-text-fill: #ffffff;
}

#btnAdicionar:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

#btnRemover {
	-fx-background-color: #ffffff;
	-fx-text-fill: #a4262c;
	-fx-border-color: #a4262c;
	-fx-border-radius: 1px;
	-fx-border-width: 2px;
}

#btnRemover:hover {
	-fx-background-color: #a4262c;
	-fx-text-fill: #ffffff;
}

#btnRemover:focused {
	-fx-font-weight: bold;
	-fx-font-size: 14;
}

/*---------- Estilos do scroll ----------*/
.scroll-pane {
	-fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.increment-button, .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
}

/* Barra */
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
	-fx-background-color: #3c3c3c;
	-fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
	-fx-background-color: #757575;
}

.scroll-bar:horizontal .thumb:pressed, .scroll-bar:vertical .thumb:pressed
	{
	-fx-background-color: #1e90ff;
	-fx-background-insets: 3.0;
}

/* Quina */
.scroll-pane>.corner {
	-fx-background-color: black;
}

/*---------- Table view ----------*/
.table-view .column-header, .table-view .column-header-background .filler
	{
	-fx-background-color: #5C6BC0;
	-fx-border-color: #BDBDBD;
	-fx-border-width: 0 1 0 0;
	-fx-border-insets: 5 0 5 0;
}

.table-view .column-header .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background {
	-fx-background-color: #5C6BC0;
}

.table-view {
	-fx-background-color: #FAFAFA;
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
}

.table-view:focused {
	-fx-background-color: #FAFAFA;
}

.table-view .table-cell {
	-fx-text-fill: #000000;
}

.table-row-cell {
	-fx-background-color: -fx-table-cell-border-color, #FAFAFA;
	-fx-table-border-color: transparent;
	-fx-table-cell-border-color: transparent;
}

.table-row-cell:odd {
	-fx-background-color: -fx-table-cell-border-color, #E8EAF6;
}

.table-row-cell:selected {
	-fx-background-color: #C5CAE9;
}

.table-row-cell:excluido {
	-fx-background-color: #ff6666;
}

.table-row-cell:excluido:odd {
	-fx-background-color: #ff9999;
}

.table-view>.virtual-flow>.scroll-bar>.increment-button, .table-view>.virtual-flow>.scroll-bar>.decrement-button
	{
	-fx-opacity: 0;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button, .table-view .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track, .table-view .scroll-bar:vertical .track
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb, .table-view .scroll-bar:vertical .thumb
	{
	-fx-background-color: #3c3c3c;
	-fx-background-radius: 1em;
	-fx-background-insets: 3;
}

.table-view .scroll-bar:horizontal .thumb:hover, .table-view .scroll-bar:vertical .thumb:hover
	{
	-fx-background-insets: 2;
	-fx-background-color: #757575;
}

.table-view .scroll-bar:horizontal .thumb:pressed, .table-view .scroll-bar:vertical .thumb:pressed
	{
	-fx-background-insets: 2.2;
	-fx-background-color: #1e90ff;
}

/*  Tamanho da barra */
.table-view .scroll-bar:vertical>.increment-button, .table-view .scroll-bar:vertical>.decrement-button
	{
	-fx-padding: 0.01em 0.01em;
}

.table-view .scroll-bar:horizontal>.increment-button, .table-view .scroll-bar:horizontal>.decrement-button
	{
	-fx-padding: 0.01em 0.01em;
}

.corner {
	-fx-background-color: transparent;
}

.table-border {
	-fx-border-color: #5C6BC0;
	-fx-border-radius: 0 0 10 10;
}

/*---------- Estilo básico dos spiners ----------*/
.spinner {
	-fx-prompt-text-fill: black;
	-fx-text-fill: black;
	-fx-background-color: none;
	-fx-padding: 0 0 3 0;
}

.spinner .decrement-arrow-button {
	-fx-background-color: transparent;
	-fx-border-color: #4d4d4d;
	-fx-border-radius: 1px;
	-fx-border-width: 1;
}

.spinner .increment-arrow-button {
	-fx-background-color: transparent;
	-fx-border-color: #4d4d4d;
	-fx-border-radius: 1px;
	-fx-border-width: 1;
}

.spinner .increment-arrow-button:hover {
	-fx-background-color: transparent;
	-fx-border-color: #4059a9;
	-fx-border-width: 2;
}

.spinner .decrement-arrow-button:hover {
	-fx-background-color: transparent;
	-fx-border-color: #4059a9;
	-fx-border-width: 2;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow
	{
	-fx-background-color: #4d4d4d;
	-fx-font-size: 20px;
}

.spinner .text-field {
	-fx-background-color: transparent;
	-fx-border-width: 1;
	-fx-border-color: #4d4d4d;
}

.spinner .text-field:focused {
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-color: #4059a9;
}

/*---------- Estilo básico da tela ----------*/
.background-cartao {
	-fx-background-color: #eaeaea;
}

.background-dados {
	-fx-background-color: #ffffff;
	-fx-background-radius: 10px;
}

.background-component {
	-fx-background-color: #ffffff;
}

.background-imagens {
	-fx-border-color: #4d4d4d;
	-fx-border-radius: 10px;
	-fx-border-width: 1px;
}

.background-item {
	-fx-background-radius: 10;
	-fx-background-color:  #eaeaea;
}