#background {
	-fx-background-color: transparent;
}

.logoTexto{
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 36px;
}

#btnConfirmar {
    -fx-background-color: radial-gradient(center 80% 10%, radius 180%, #58E82D 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

#btnConfirmar:pressed {
    -fx-background-color: linear-gradient(to right, #212121 0%, #212121 100%);
    -fx-text-fill: #ffffff;
}

#btnCancelar {
    -fx-background-color: radial-gradient(center 80% 10% , radius 180% , #e60000 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

#btnTestarConexao {
    -fx-background-color: radial-gradient(center 80% 10% , radius 180% , #3366ff 0%, #212121 100%);
    -fx-text-fill: #ffffff;
    -fx-text-stroke: black;
    -fx-stroke-width: 1;
}

#paneDireita{
    -fx-background-color: linear-gradient(to bottom right, #f2f2f2 0%, #ffffff 30%, #ffffff 70%, #d9d9d9 100%);
}


#paneEsquerda{
    -fx-background-color: linear-gradient(to bottom right, #000000 0%, #212121 50%, #333333 100%);
}

.btnSombra {
    -fx-effect: dropshadow( one-pass-box , #333333, 0, 0.0 , 2, 2);
}

.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: #4d4d4d;
    -fx-border-width: 0 0 1 0;
}

.choice-box:focused {
    -fx-background-color: transparent ;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: blue;
}

/*--------  Botao de exit ----------*/
#btnExit{
    -fx-background-color: transparent;
}

#background{
    -fx-effect: dropshadow( one-pass-box , #333333, 0, 0.0 , 3, 3);
}

