#background {
	-fx-background-color: transparent;
}

#background{
    -fx-effect: dropshadow( one-pass-box , #333333, 0, 0.0 , 3, 3);
}

#paneDireita{
    -fx-background-color: linear-gradient(to bottom right, #f2f2f2 0%, #ffffff 30%, #ffffff 70%, #d9d9d9 100%);
}


#paneEsquerda{
    -fx-background-color: linear-gradient(to bottom right, #000000 0%, #212121 50%, #333333 100%);
}


