/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos de Login ----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

#background {
	-fx-background-color: transparent;
}

#apLoginCadastro{
    -fx-background-color: linear-gradient(to bottom right, #f2f2f2 0%, #ffffff 30%, #ffffff 70%, #d9d9d9 100%);
}


/*---------- Estilos dos botoes ----------*/
#btnLogin {
    -fx-background-color: #ffffff;
    -fx-text-fill:  #43A047;
    -fx-border-color :#43A047;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

#btnLogin:hover {
    -fx-background-color: #43A047;
    -fx-text-fill:  #ffffff;
}

#btnLogin:focused {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#btnCadastrar {
    -fx-background-color: #ffffff;
    -fx-text-fill:  #005a9e;
    -fx-border-color :#005a9e;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

#btnCadastrar:hover {
    -fx-background-color: #005a9e;
    -fx-text-fill:  #ffffff;
}

#btnCadastrar:focused {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.btnSair {
    -fx-background-color: #ffffff;
    -fx-text-fill:  #a4262c;
    -fx-border-color :#a4262c;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

.btnSair:hover {
    -fx-background-color: #a4262c;
    -fx-text-fill:  #ffffff;
}

.btnSair:focused {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#btnEscolha {
    -fx-background-color: rgba(51, 51, 51, 0.2);
    -fx-text-fill:  #ffffff;
    -fx-border-color :#8764b8;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}

#btnEscolha:hover {
    -fx-background-color:  rgba(51, 51, 51, 0.5);
    -fx-text-fill:  #ffffff;
    
}

#btnEscolha:focused {
    -fx-font-weight: bold;
}



.logoTexto{
    -fx-text-fill: white;
}


