/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Scroll bar do jfxscrol pane -----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

.jfx-scroll-pane .main-header {
    -fx-background-color: linear-gradient(to top right, #7855F9, #7759F9, #4E8EFF, #C285E2);
    -fx-background-image: url("../imagens/white/dashBoard/icoDashboardGraficos_400.png"); /* Imagem já no tamanho final*/
    -fx-background-position: top -80 right +20;
    -fx-background-size: 400 434;
    -fx-background-repeat: no-repeat;
}

.jfx-scroll-pane .condensed-header {
    -fx-background-color: linear-gradient(to right, #b19dfb, #99beff, #e0c1f0);
}



.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane  {
    -fx-background-color: #000000;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Estilos dos Graficos ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.vbBackgroundCompra {
    -fx-background-color:  #c0392b;
    -fx-background-radius: 10;

    -fx-background-image: url("../imagens/white/dashBoard/icoDashboardGraficos_Compra_128.png");
    -fx-background-position: right+5 bottom+5 ;
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
}

.vbBackgroundVenda {
    -fx-background-color:  #60a917;
    -fx-background-radius: 10;

    -fx-background-image: url("../imagens/white/dashBoard/icoDashboardGraficos_Vendas_128.png");
    -fx-background-position: right+5 bottom+5 ;
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
}

.vbBackgroundTotal {
    -fx-background-color:  #106ebe;
    -fx-background-radius: 10;

    -fx-background-image: url("../imagens/white/dashBoard/icoDashboardGraficos_Total_128.png");
    -fx-background-position: right+5 bottom+5 ;
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
}


/*---------- Graficos  ----------*/
.Background {
    -fx-background-color:  #eaeaea;
    -fx-background-radius: 10;
}

.vbBackgroundGraficos {
    -fx-background-color:  #ffffff;
    -fx-background-radius: 10;
}

.Graficos {
    -fx-border-color:  #6c9806;
    -fx-border-width:  2 0 0 0;
}

.ListaPedidos {
    -fx-background-color:  #ffffff;
    -fx-background-radius: 10;
}

