/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Tela de Lançamentos -------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------  Image cliente ----------*/
.background-Lancamentos{
    -fx-background-color:  #3c3c3c;
}

/*----------  Image cliente ----------*/
.background-totaisLancamentos{
    -fx-background-color:  #7cb342;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisEntrega{
    -fx-background-color:  #0078d4;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisPedidos{
    -fx-background-color:  #ca5010;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisPedidos{
    -fx-background-color:  #ca5010;
    -fx-background-radius: 10;
}

/*----------  Image cliente ----------*/
.background-totaisItens{
    -fx-background-color:  #dadada;
    -fx-background-radius: 10;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Item Pedido ---------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.background-itens{
    -fx-background-color:  transparent;
}

.background-itemPedidos{
    -fx-background-color:  #71afe5;
    -fx-background-radius: 10;
}

.background-itemPedidosBotaoFechar{
    -fx-background-color:  #3c3c3c;
}

.background-itemPedidosBotaoEditar{
    -fx-background-color:  #7cb342;
}

.textArea-Pedidos{
    -fx-background-color: #0078d4;
    -fx-prompt-text-fill: #666666;
    -fx-text-fill: white;
}

.textArea-Pedidos .scroll-pane {
    -fx-background-color: #3c3c3c;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------ Item Entrega --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
.background-itemEntregas{
    -fx-background-color:  #ef6950;
    -fx-background-radius: 10;
}

.background-itemEntregasBotaoFechar{
    -fx-background-color:  #3c3c3c;
}

.background-itemEntregasBotaoEditar{
    -fx-background-color:  #7cb342;
}

.textArea-Entregas{
    -fx-background-color: #a4262c;
    -fx-prompt-text-fill: #666666;
    -fx-text-fill: white;
}

.textArea-Entregas .scroll-pane {
    -fx-background-color: #3c3c3c;
}
